@import url(./../../global/reset.css);

header {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background-color: #000;
    padding: 15px;
    border-radius: 0 0 8px 8px;
}

.navbar {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-list {
    display: block;
    list-style: none;
}

.navbar-list li {
    display: inline;
    border: none;
}

.botao-navbar {
    text-decoration: none;
    color: #fff;
    padding: 16px;
    text-transform: capitalize;
    font-weight: 600;
}

.botao-selecionado {
    background-color: rgb(195, 252, 37);
    color: #000;
    border-radius: 8px;
    text-decoration: none;
    padding: 16px;
    text-transform: capitalize;
    font-weight: 600;
    pointer-events: none;

}

.botao-navbar:hover {
    background-color: rgb(195, 252, 37);
    border-radius: 8px;
    color: #000;
}