@import url(./../../global/reset.css);


.titulo-plano {
    margin: 100px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
}

.box-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.list-card {
    display: flex;
    width: 15%;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    border-radius: 8px;
    background-color: #555555;
    box-shadow: 0 4px 12px -6px black;
    flex-grow: 1;
}

.list-card div {
    padding-left: 16px;
    margin-top: 16px;
    color: #fff;
}

.titulo-h2-plano {
    width: 90%;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    border-bottom: 3px solid rgb(195, 252, 37);
    letter-spacing: 2px;
}

.valor-card-1 {
    text-align: start;
    margin-top: 16px;
    font-size: 26px;
    font-weight: 600;
}

.valor-card-mes {
    font-size: 14px;
    font-weight: 600;
}

.list-opcao {
    padding-left: 20px;
    margin-top: 10px;
    list-style: disc;
}

.list-opcao li {
    padding-top: 5px;
}

.list-opcao li::marker {
    color: rgb(195, 252, 37);
}

.fonte-alta {
    text-transform: capitalize;
}

.full {
    text-transform: uppercase;
}

.button-card {
    width: 80%;
    margin: auto;
    background-color: #555555;
    border: none;
    margin-bottom: 16px;
}

.button-card p {
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 8px;
    color: black;
    background-color: rgb(195, 252, 37);
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.button-card p:hover {
    background-color: #000;
    color: #fff;
}